body{
    background-color: lightgray; }

img { width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;}


h1 { color:brown;
    font-size: 20px;}

h2 {
    color: blue;
    font-size: 16px;
}    

div{
    box-sizing: border-box;
    border: 30px solid white;
    background-color: white;
    margin: 20px;    
}
